<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Concurrent</key>
	<array>
		<dict>
			<key>name</key>
			<string>A</string>
			<key>sleepTimeInterval</key>
			<real>2</real>
			<key>isDependentBeforeTask</key>
			<false/>
			<key>queuePriority</key>
			<string>VeryLow</string>
		</dict>
		<dict>
			<key>name</key>
			<string>B</string>
			<key>sleepTimeInterval</key>
			<integer>2</integer>
			<key>isDependentBeforeTask</key>
			<true/>
			<key>queuePriority</key>
			<string>VeryLow</string>
		</dict>
		<dict>
			<key>name</key>
			<string>C</string>
			<key>sleepTimeInterval</key>
			<integer>2</integer>
			<key>isDependentBeforeTask</key>
			<false/>
			<key>queuePriority</key>
			<string>VeryHigh</string>
		</dict>
	</array>
	<key>NonConcurrent</key>
	<array>
		<dict>
			<key>name</key>
			<string>S</string>
			<key>sleepTimeInterval</key>
			<integer>2</integer>
			<key>isDependentBeforeTask</key>
			<false/>
			<key>queuePriority</key>
			<string>VeryLow</string>
		</dict>
		<dict>
			<key>name</key>
			<string>T</string>
			<key>sleepTimeInterval</key>
			<integer>2</integer>
			<key>isDependentBeforeTask</key>
			<true/>
			<key>queuePriority</key>
			<string>VeryLow</string>
		</dict>
		<dict>
			<key>name</key>
			<string>U</string>
			<key>sleepTimeInterval</key>
			<integer>2</integer>
			<key>isDependentBeforeTask</key>
			<false/>
			<key>queuePriority</key>
			<string>VeryHigh</string>
		</dict>
	</array>
</dict>
</plist>
